{
  "trailingComma": "all",
  "tabWidth": 3,
  "printWidth": 100,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "quoteProps": "consistent",
  "arrowParens": "always",
  "endOfLine": "auto",
  "jsxSingleQuote": true,
  "bracketSpacing": true
}
